<label>What's Choice of Button?</label>
<div class="form-group">
    <div class="radio">
        <label>
           <input type="radio" ng-model="formData.buttonType" value="darkTheme" checked>
           Ola Dark Theme
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.buttonType" value="lightTheme">
            Ola Light Theme
        </label>
    </div>
</div>

<div>
    <button ui-sref="form.result" class="ui primary button">Next Section</button>
</div>
</div>